<ion-side-menus>
  <ion-side-menu side="left">
    <ion-header-bar>
      <h1 class="title">Civinfo</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item href="/#/main" menu-close>Main Menu</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
  
  <ion-side-menu-content drag-content="true">
    <ion-nav-bar class="bar-balanced">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-tabs class="tabs-icon-top tabs-stable tabs-balanced">

      <ion-tab title="Menu" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" href="#/main/menu">
      </ion-tab>
      <ion-tab title="Map" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" ui-sref="hoge.map">
        <ion-nav-view name="map"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Hoge" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" ui-sref="hoge.main">
        <ion-nav-view name="hoge"></ion-nav-view>
      </ion-tab>
      
    </ion-tabs>
  </ion-side-menu-content>
</ion-side-menus>