<ion-view view-title="Login" hide-back-button="true" hide-nav-bar="false">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-refresh" ng-click="clickClear()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button menu-toggle="left" class="button button-icon icon ion-android-expand" ng-click="clickExpand()"></button>
    </ion-nav-buttons>
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="bgpositive" >
    <br> <br>
    <div class="center col-60">
      <img class="center" ng-src="{{imgsrc}}" ng-click="clicImage()"
           style="width:128px;">
      <br>
      <label class="item item-input">
        <span class="input-label">Nickname</span>
        <input type="text" value={{nickname}}>
      </label>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>

      <button class="button button-outline button-block button-light" ng-click="clickLogin()">
        Login
      </button>
    </div>
  </ion-content>

    
</ion-view>
