
<ion-view hide-nav-bar="true">
  <ion-nav-buttons side="left"> <!-- left -->
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right"> <!-- right -->
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
  <ion-content scroll="false" class="home-container">

      <div class="row row-center" style="height:100%;">
        <div class="col text-center" >
            <img src="https://s3.amazonaws.com/ionic-forum-static/forum-logo.png">
        </div>
      </div>

  </ion-content>
</ion-view>